<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LanguageMapper">
  <resultMap id="BaseResultMap" type="com.example.domain.Language">
    <id column="language_id" jdbcType="TINYINT" property="languageId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from language
    where language_id = #{languageId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.example.domain.Language">
    insert into language (language_id, `name`, last_update
      )
    values (#{languageId,jdbcType=TINYINT}, #{name,jdbcType=CHAR}, #{lastUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.domain.Language">
    update language
    set `name` = #{name,jdbcType=CHAR},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where language_id = #{languageId,jdbcType=TINYINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select language_id, `name`, last_update
    from language
    where language_id = #{languageId,jdbcType=TINYINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select language_id, `name`, last_update
    from language
  </select>
</mapper>