<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.example.domain.Payment">
    <id column="payment_id" jdbcType="SMALLINT" property="paymentId" />
    <result column="customer_id" jdbcType="SMALLINT" property="customerId" />
    <result column="staff_id" jdbcType="TINYINT" property="staffId" />
    <result column="rental_id" jdbcType="INTEGER" property="rentalId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="payment_date" jdbcType="TIMESTAMP" property="paymentDate" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from payment
    where payment_id = #{paymentId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.example.domain.Payment">
    insert into payment (payment_id, customer_id, staff_id, 
      rental_id, amount, payment_date, 
      last_update)
    values (#{paymentId,jdbcType=SMALLINT}, #{customerId,jdbcType=SMALLINT}, #{staffId,jdbcType=TINYINT}, 
      #{rentalId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{paymentDate,jdbcType=TIMESTAMP}, 
      #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.domain.Payment">
    update payment
    set customer_id = #{customerId,jdbcType=SMALLINT},
      staff_id = #{staffId,jdbcType=TINYINT},
      rental_id = #{rentalId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      payment_date = #{paymentDate,jdbcType=TIMESTAMP},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where payment_id = #{paymentId,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select payment_id, customer_id, staff_id, rental_id, amount, payment_date, last_update
    from payment
    where payment_id = #{paymentId,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select payment_id, customer_id, staff_id, rental_id, amount, payment_date, last_update
    from payment
  </select>
</mapper>